<body>
    <nav id="nav-color">
        <div class="nav-wrapper purple darken-4">
            <a href="/" class="brand-logo  purple darken-4">Home</a>
            <ul id="nav-mobile" class="right purple darken-4 hide-on-med-and-down">
                <li><a href="/add">New Workout</a></li>
                <li><a href="/update">Update</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form action="/add" method="post">
            <h2>Enter a New Workout</h2>
            <input id="title" type="text" name="title" placeholder="Title" />
            <textarea id="body" type="text" name="body" placeholder="Enter Workout Information"></textarea>
        </form>
        <button id="submit" class="waves-effect waves-light purple darken-4 btn-large">
            Submit
        </button>
    </div>