<style>
    body {
        font-weight: bold;
        font-size: 24px
    }

    .container img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.3;
        z-index: -1;
    }

    .container form {
        position: relative;
        z-index: 2;
    }

    ::-webkit-input-placeholder {
        color: black;
    }

    #id {
        display: block;
        height: 36px;
        width: 400px;
        font-size: 24px;
        color: black;
    }


    #title {
        display: block;
        height: 36px;
        width: 400px;
        font-size: 24px;
        color: black;
    }

    textarea {
        width: 400px;
        height: 200px;
        font-size: 24px;
    }

    p {
        line-height: 10px;
        z-index: 2;
    }
</style>
</head>

<body>
    <nav id="nav-color">
        <div class="nav-wrapper purple darken-4">
            <a href="/" class="brand-logo  purple darken-4">Home</a>
            <ul id="nav-mobile" class="right purple darken-4 hide-on-med-and-down">
                <li><a href="/add">New Workout</a></li>
                <li><a href="/update">Update</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <img src="https://pickywallpapers.com/img/2018/3/boxing-gym-computer-background-897-916-hd-wallpapers.jpg" />
        <form action="/submit" method="post">
            <h2>Update a Workout</h2>
        </form>
        <div class="row">
            <div class="col l6">
                <div class="workout">
                    {{#each workouts }}

                    <p>ID: {{ this.id }}</p>
                    <p>Title: {{ this.title }}</p>
                    <p>Description: {{ this.body }}</p>
                    <button class="update-button waves-effect waves-light purple darken-4 btn-large">Update</button>

                    {{/each}}
                </div>
            </div>
            <div class="col l6">
                <div>
                    <form>
                        <input class="input" id="id" type="text" name="id" placeholder="copy and paste workout ID" />
                        <input class="input" id="title" type="text" name="title" placeholder="Title" />
                        <textarea id="body" type="text" name="body" placeholder="Workout Information"></textarea>
                    </form>
                    {{!-- <button id="update" class="waves-effect waves-light purple darken-4 btn-large">
                        Update
                    </button> --}}
                </div>
            </div>
        </div>

    </div>