<style>
    .container img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
    }

    .container form {
        padding-left: 200px;
        position: relative;
        z-index: 2;
    }

    input {
        display: block;
        height: 36px;
        width: 200px;
        font-size: 24px;
    }

    textarea {
        width: 200px;
        height: 200px;
    }
</style>
</head>

<body>
    <div class="container">
        <img src="https://pickywallpapers.com/img/2018/3/boxing-gym-computer-background-897-916-hd-wallpapers.jpg" />
        <form action="/submit" method="post">
            <h2>Update a Workout</h2>
        </form>
    </div>