<body>

    <div class="container">
        <div class="row">
            <div class="col l6">
                <a href="/add" class="waves-effect waves-light purple darken-4 btn-large">New Workout</a>
            </div>
            <div class="col l6">
                <a href="/update" class="waves-effect waves-light purple darken-4 btn-large">Update Previous Workout</a>
            </div>
        </div>
    </div>